<% if (article.get('text')) { %>
  <section class="main group">

    <div class="article">

      <header>
        <h2><%= article.get('title') %></h2>
        <h3>
          By <a href="/#/authors/<%= article.author().id %>">
            <%= article.author().get("name") %></a>, <%= article.get('year') %>
        </h3>
        <% if (Prosody.currentUserId) { %>
          <section class="vote-buttons"></section>
        <% } %>
      </header>

      <div class="article-text">

        <% article.get('text').split("\n").forEach(function (line) { %>
          <%= line.replace("\r", "") %>
          <br>
        <% }) %>

        <a class="popup">⌽</a>

      </div>
    </div>



    <div class="annotations-sidebar">

      <div class="annotation-view"></div>

    </div>

  </section>

  <hr>
  <a href="#top">Back to top</a>
<% } %>