<div class='user-container'>
	
	<h2 class="user-title">Welcome Back</h2>

	<form action="<%= session_url %>" method="POST">

	  <%= auth_token %>

	  	<h4 class= "input-label">Username</h4>
	    <input class="user-input" type="text" name="user[username]" value="<%= @user.username %>">

	    <h4 class= "input-label">Password</h4>
	    <input class="user-input" type="password" name="user[password]">


	  <button class="user-submit">Sign in</button>


	</form>
	
	<form action="<%= session_url %>" method="POST">

	  <%= auth_token %>

	    <input type="hidden" name="user[username]" value="Velma">

	    <input type="hidden" name="user[password]" value="123456">


	  <button class="user-submit">Sign in as a guest</button>


	</form>

</div>





