<h3><%= @article.text[(annotation.start)..(annotation.end)] %></h3>
<hr>
<%= annotation.text %>
--<a href="<%= user_url(annotation.user) %>"><small><%= annotation.user.username %></small></a>

<% unless annotation.image.url.index("missing") %>
  <%= image_tag annotation.image.url(:medium) %>
<% end %>

<br>
<br>

<%= render 'shared/vote_buttons', votable: annotation %>

<br>

<%= render 'new_comment', annotation: annotation %>

<br>

<% annotation.sorted_comments.each do |comment| %>
  <%= render 'show_comment', comment: comment %>
<% end %>