<h3><%= @article.text[(annotation.start)..(annotation.end)] %></h3>
<hr>
<%= annotation.text %>
--<a href="<%= user_url(annotation.user) %>"><small><%= annotation.user.username %></small></a>

<% if annotation.image %>
  <%= image_tag annotation.image.url(:medium) %>
<% end %>

<%= render 'new_comment', annotation: annotation %>

<% annotation.sorted_comments.each do |comment| %>
  <%= render 'show_comment', comment: comment %>
<% end %>