<h2>New article</h2>

<form action="<%= articles_url %>" method="POST">
  <%= auth_token %>
  <label>
    Title
    <input type="text" name="article[title]" value="<%= @article.title %>">
  </label>
  
  <label>
    Year of publication
    <input type="number" name="article[year]" value="<%= @article.year %>">
  </label>

  <hr>

  <label>
    Author First Name
    <input type="text" name="author[first_name]" value="<%= @author.first_name %>">
  </label>

  <label>
    Author Last Name
    <input type="text" name="author[last_name]" value="<%= @author.last_name %>">
  </label>

  <hr>

  <label>
    Article text
    <br>
    <textarea name="article[text]"></textarea>
  </label>

  <button>Submit</button>

</form>