<style>

.group:after {
  content: "";
  clear: both;
  display: block;
}

section.main {
  border: 3px solid green;
  display: block;
  width: 1300px;
  height: 100%;
  margin: 0 auto;
}

div.article-text {
  border: 4px solid red;
  width: 732px;
  height: 100%;
  padding: 20px;
  float: left;
}

div.annotations {
  border: 4px solid blue;
  width: 472px;
  height: 100%;
  padding: 20px;
  float: right;
}

</style>

<h2><%= @article.title %></h2>
<br>
<h3>
  By <a href="<%= author_url(@article.author) %>">
    <%= @article.author.name %></a>, <%= @article.year %>
</h3>
<br>

<section class="main group">
  <div class="article-text">
    <% lines = @article.text.split("\r\n") %>

    <% lines.each do |line| %>
    <%= line %><br>
    <% end %>
  </div>
  <div class="annotations">
    <%= render 'new_annotation' %>
    <hr>
    <% @article.annotations.each do |annotation| %>
      <%= render :partial => "show_annotation", locals: { annotation: annotation } %>
    <% end %>
  </div>
</section>

<hr>
<a href="#top">Back to top</a>