<h2><%= user.escape('username') %></h2>

<h3>Total votes: <%= user.escape('total_votes') %></h3>

<br>

<img src="<%= user.escape('avatar') %>">

<% if (user.get("can_follow")) { %>
  <button class="follow-button">Follow <%= user.escape("username") %></button>
<% } else if (user.get("can_unfollow")) { %>

  <button class="unfollow-button">Unfollow <%= user.get("username") %></button>

<% } %>