 <% if (user.get('followers')) { %>

  <div class='user-show-container group'>

    <section class="user left col">
      <article class= "user-box index index-article">

        <div class="text-container"><% if (user.get("articles")[0]) { %><%= user.get("articles")[0]['text'].replace("\r\n", "  ") %><% } else { %>Nothing to see here...<% } %></div>


        <big class="box-title">Articles</big>
      </article>

      <figure class="user-box follow-box followers group">
        <% user.get("followers").forEach(function (follower) { %>
            <img class="follower-image" src="<%= follower['avatar'] %>">
        <% }); %>

        <big class="box-title">Followers</big>
      </figure>
    </section>

    <section class="user mid col">
      <figure class="profile-picture">
        <img src="<%= user.escape('avatar') %>">
        <big class="box-title"><%= user.escape('username') %></big>
        <small class="user-total-votes">Total votes: <%= user.get('total_votes') %></small>
      </figure>

      <% if (user.get("can_follow")) { %>
        <button class="follow-button">Follow</button>
      <% } else if (user.get("can_unfollow")) { %>
        <button class="unfollow-button">Unfollow</button>
      <% } %>

      <div class="content-container">
        <p class="default-message">Click a box to see more information</p>
      </div>

    </section>

    <section class="user right col">
      <article class="user-box index index-annotation">

        <div class="text-container"><% if (user.get("annotations")[0]) { %><%= user.get("annotations")[0]['text'].replace("\r\n", "  ") %><% } else { %>Nothing to see here...<% } %></div>

        <big class="box-title">Annotations</big>
      </article>

      <figure class="user-box follow-box following group">
        <% user.get("followed_users").forEach(function (followed) { %>
            <img class="follower-image" src="<%= followed['avatar'] %>">
        <% }); %>

        <big class="box-title">Following</big>
      </figure>
    </section>

  </div>

  <!-- <h3 class="user-total-votes">Total votes: <%= user.escape('total_votes') %></h3>

  <br>

  <h4>Followers</h4>

   -->


<% } %>