<% if (author.get('articles')) { %>
	
<section class="author-show-container group">
	

	<figure class="author-picture">
		<big class="author-name"><%= author.escape('first_name') %><br><%= author.escape('last_name') %></big>
		<img src="<%= author.escape('image') %>">
	</figure>

	<p class="author-info"><%= author.get('info') %></p>
	
	<h1>Articles on Prosody</h2>

	<ul class="author-article-list">
	<% author.get('articles').forEach(function (article) { %>
		<li>
			<a href="/#articles/<%= article['id'] %>"><%= article['title'] %></a>
		</li>
	<% }) %>	
</section>	
	
<% } else { %>
	
constructing page...

<% } %>