<h1 class="author-name"><%= author.escape('first_name') %><br><%= author.escape('last_name') %></h1>
<figure class="author-picture">
<img src="<%= author.escape('image') %>">
</figure>

<p class="author-info"><%= author.get('info') %></p>

<ul class="author-article-list">
<%= author.get('articles').forEach(function (article) { %>
	<li>
		<a href="/#articles/<%= article['id'] %>"><%= article['title'] %></a>
	</li>
<% }) %>