<h1><%= @user.username %> | Main Page</h1>

<figure class="avatar">
  <%= image_tag @user.avatar.url(:medium) %>
</figure>
<a href="<%= edit_user_url(@user) %>">Edit your profile</a>
<hr>
<h3>Your uploads</h3>
<% if @user.articles.empty? %>
  <i>Nothing to see here...</i>
<% else %>
  <ul>
    <% @user.articles.each do |article| %>
      <li>
        <a href="<%= article_url(article) %>"><%= article.title %></a>
      </li>
    <% end %>
  </ul>
<% end %>


<h3>Your Annotations</h3>
<% if @user.annotations.empty? %>
  <i>Nothing to see here...</i>
<% else %>
  <ul>
    <% @user.annotations.each do |annotation| %>
      <li>
        Annotation in <a href="<%= article_url(annotation.article) %>"><%= annotation.article.title %></a>: <%= annotation.text %>
      </li>
    <% end %>
  </ul>
<% end %>
