<h2><%= @user.username %></h2>

<%= image_tag @user.avatar.url(:medium) %>


<hr>

<label>
  Recent Activity:
  <% if @user.events.empty? %>
    <br>
    <i>Nothing to see here...</i>
  <% else %>
    <ul>
      <% @user.events.each do |event| %>
        <li><%= event.summary %></li>
      <% end %>
    </ul>
  <% end %>
</label>

<hr>

<label>
  Uploads by this user:
  <ul>
    <% @user.articles.each do |article| %>
    <li>
      <a href="<%= article_url(article) %>">
        <%= article.title %>
      </a> by <a href="<%= author_url(article.author) %>">
        <%= article.author.name %>
      </a>
    </li>
    <% end %>
  </ul>
</label>