<h2><%= @user.username %></h2>

<h3>Total votes: <%= @user.total_votes %></h3>

<br>

<%= image_tag @user.avatar.url(:medium) %>

<% if @user == current_user %>
  <br>
  <a href="<%= edit_user_url(@user) %>">Edit your profile</a>
<% end %>

<% if !!current_user %>
  <% if current_user.can_follow?(@user) %>
    <%= render 'follow' %>
  <% elsif current_user.can_unfollow?(@user) %>
    <%= render 'unfollow' %>
  <% end %>
<% end %>

<hr>

<label>
  Uploads by this user:
  <ul>
    <% @user.articles.each do |article| %>
    <li>
      <a href="<%= article_url(article) %>">
        <%= article.title %>
      </a> by <a href="<%= author_url(article.author) %>">
        <%= article.author.name %>
      </a>
    </li>
    <% end %>
  </ul>
</label>