<!DOCTYPE html>
<html>
<head>
  <title>Prosody</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

<figure class="big-background">
  <img src="http://upload.wikimedia.org/wikipedia/commons/c/c7/Mute_swan_flies_arp.jpg";>
</figure>

<a href="/#" class="site-title">♕<br>Prosody</a>
<nav class="site-header group">
<% if !!current_user %>
<ul class="user-management group">

  <li><a href="/#users/<%= current_user.id %>">Signed in as: <%= current_user.username %></a></li>

  <li>
      <a href="<%= sign_out_url %>">Sign out</a>
  </li>

</ul>

<ul class="quick-links group">
  <li><a href="<%= notifications_url %>">Notifications (<%= current_user.new_notifications %> unread)</a></li>
  <li><a href="/#new">Create a new article</a></li>
</ul>



<% else %>
  <a href="<%= new_user_url %>">Sign up</a> or
  <a href="<%= new_session_url  %>">sign in</a>
<% end %>

</nav>

<%= yield %>

</body>

</html>
