<!DOCTYPE html>
<html>
<head>
  <title>Prosody</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <style>

  .group:after {
    content: "";
    display: block;
    clear: both;
  }

  .big-background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: .1;
  }

  .big-background > img {
    width: 100%;
    height: auto;
  }

  .site-title {
    display: block;
    clear: both;
    width: 225px;
    text-align: center;
    margin: 30px auto;
    font-size: 60px;
    color: #efcafa;
  }

  .site-title:hover {
    color: #caeffa;
  }

  .site-header {
    height: 80px;
    background: inherit;
    border-bottom: 3px solid #efcafa;
    margin: 0 0 20px 0;
  }

  .site-header > ul {
    list-style: none;
  }

  .site-header > ul > li > a {
    display: block;
    height: 60px;
    text-align: center;
    font-size: 15px;
    padding: 0 10px;
  }

  .user-management {
    display: block;
    float: left;
  }

  .user-management > li {
    float: left;
  }

  .quick-links {
    display: block;
    float: right;
  }

  .quick-links > li {
    float: left;
  }

  </style>

</head>
<body>

<figure class="big-background">
  <img src="http://upload.wikimedia.org/wikipedia/commons/c/c7/Mute_swan_flies_arp.jpg";>
</figure>

<a href="/#" class="site-title">♕<br>Prosody</a>
<nav class="site-header group">
<% if !!current_user %>
<ul class="user-management group">

  <li><a href="#users/<%= current_user.id %>">Signed in as: <%= current_user.username %></a></li>

  <li>
      <a href="<%= sign_out_url %>">Sign out</a>
  </li>

</ul>

<ul class="quick-links group">
  <li><a href="<%= home_url %>">Home</a></li>
  <li><a href="<%= notifications_url %>">Notifications (<%= current_user.new_notifications %> unread)</a></li>
  <li><a href="/#new">Create a new article</a></li>
</ul>



<% else %>
  <a href="<%= new_user_url %>">Sign up</a> or
  <a href="<%= new_session_url  %>">sign in</a>
<% end %>

</nav>

<%= yield %>

</body>

</html>
